*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: A2;
    src: url(font/BetterlettRegular.otf);
}
@font-face {
    font-family: A1;
    src: url(font/FlightyRegular.ttf);
}

::selection{
    background-color: var(--selection-color);
}

body::-webkit-scrollbar {
  width: 4px;
  transition: .4s ease-in-out;
}
body::-webkit-scrollbar-track {
  background-color: transparent;
  transition: .4s ease-in-out;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-bg); 
  transition: .4s ease-in-out;
  border-radius: 10px;
  cursor: pointer;
}

body{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    background-color: var(--bg-color-light);
    overflow-x: hidden;
    padding-inline: 0.6rem;
    transition: all 0.2s ease-in-out;
}
.bgTexture{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(0deg, transparent 24%, var(--bg-gradient) 25%, var(--bg-gradient) 26%, transparent 27%,transparent 74%, var(--bg-gradient) 75%, var(--bg-gradient) 76%, transparent 77%,transparent),
    linear-gradient(90deg, transparent 24%, var(--bg-gradient) 25%, var(--bg-gradient) 26%, transparent 27%,transparent 74%, var(--bg-gradient) 75%, var(--bg-gradient) 76%, transparent 77%,transparent);
  background-size: 55px 55px;
}

.main {
    --bg-color: var(--main-load-bg);
    --text-color: var(--main-load-text-color);
    --text-shadow-light: var(--main-load-text-shadow-light);
    --text-shadow-dark: var(--main-load-text-shadow-dark);
    --text-shadow-light1: var(--main-load-text-shadow-light1);
    --text-shadow-dark1: var(--main-load-text-shadow-dark1);
    --caret-color: #262626;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    background-color: var(--bg-color);
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .loader {
    font-family: Montserrat;
    font-size: 5em;
    font-weight: bolder;
    color: var(--text-color);
    text-shadow: var(--text-shadow-light), var(--text-shadow-dark);
    caret-color: var(--caret-color);
    outline: none;
    user-select: none;
    transition: all 0.4s ease-in-out;
  }
  
  .text:nth-child(1) {
    animation: move 1.8s ease-in-out infinite;
  }
  .text:nth-child(2) {
    animation: move 1.8s ease-in-out infinite;
    animation-delay: 0.2s;
  }
  .text:nth-child(3) {
    animation: move 1.8s ease-in-out infinite;
    animation-delay: 0.4s;
  }
  .text:nth-child(4) {
    animation: move 1.8s ease-in-out infinite;
    animation-delay: 0.6s;
  }
  .text:nth-child(5) {
    animation: move 1.8s ease-in-out infinite;
    animation-delay: 0.8s;
  }
  .text:nth-child(6) {
    animation: move 1.8s ease-in-out infinite;
    animation-delay: 1s;
  }
  .text:nth-child(7) {
    animation: move 1.8s ease-in-out infinite;
    animation-delay: 1.2s;
  }
  
  @keyframes move {
    0% {
      text-shadow: var(--text-shadow-light), var(--text-shadow-dark);
      scale: 1;
    }
    50% {
      text-shadow: none;
      scale: 0;
    }
    100% {
      text-shadow: var(--text-shadow-light), var(--text-shadow-dark);
      scale: 1;
    }
  }
  @keyframes move1 {
    0% {
      text-shadow: var(--text-shadow-light1), var(--text-shadow-dark1);
      scale: 1;
    }
    50% {
      text-shadow: none;
      scale: 0;
    }
    100% {
      text-shadow: var(--text-shadow-light1), var(--text-shadow-dark1);
      scale: 1;
    }
  }
  
  


.welcome{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20em;
    text-align: center;
    padding: 2em;
}
.welcomeText{
    padding: 1.5em 2.5em 1.5em 2.5em;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    border-radius: 10px;
    position: relative;
    color: var(--text-color);
}
.welcomeText::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(textures/textFieldPaper.jpg);
  background-repeat: no-repeat;
  background-size: 101% 100%;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 10px;
  filter: var(--welcome-brightness);
  transition: all 0.2s ease-in-out;
}
.welcomeText h1{
    position: relative;
    font-family: A1;
    font-size: 4em;
    font-weight: normal;
    z-index: 2;
}

.mainWrapper{
    padding: 2em;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
}
.wrapper{
    height: 100%;
    position: relative;
    width: 100%;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4em;
}

.imageData, .pin1{
    width: 100%;
    height: 100%;
    aspect-ratio: 1.91/1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transform: rotateZ(1deg);
    border-radius: 15px;
}
.imageData:hover{
  background-color: #252525;
  border-radius: 4px;
}
.imageData::before, .pin1::before{
    content: "";
    position: absolute;
    background-image: url(textures/pin.png);
    width: 4em;
    height: 4em;
    background-size: 4em 4em;
    left: 0;
    top: 0;
    margin-left: 1em;
    margin-top: -1em;
    z-index: 10;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.25));
}
.pin1::before{
  left: auto;
  top: 0;
  right: 0;
  margin-right: 10em;
}

.imageData::after{
    content: '';
    opacity: var(--before-opacity);
    position: absolute;
    top: -1%;
    left: -1%;
    right: -1%;
    bottom: -1%;
    background: var(--img-load-bg);
    border-radius: 15px;
    background: linear-gradient(110deg, var(--img-load-gradient1) 8%, var(--img-load-gradient2) 18%, var(--img-load-gradient1) 33%);
    background-size: 200% 400%;
    -webkit-animation: 4.5s shine linear infinite;
            animation: 4.5s shine linear infinite;
    transition: all 0.2s ease-in-out;
    z-index: 5;
}
.loaded {
    opacity: 0;
}
@-webkit-keyframes shine {
    to {
      background-position-x: -800%;
    }
}
@keyframes shine {
    to {
        background-position-x: -800%;
    }
}

.imageData img, .imageData video{
    width: 100.1%;
    height: 100.1%;
    border-radius: 15px;
    box-shadow: var(--card-shadow);
    transition: all 0.2s ease-in-out;
    z-index: 4;
    filter: var(--img-brightness);
}
.imageData video{
  position: absolute;
  width: 99.5%;
  height: 99.5%;
  object-fit: cover;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.2s ease-in-out;
  z-index: 2;
}

.muteCheck {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 8%;
  right: 2.25%;
  padding: 0.35em;
  width: 2em;
  height: 2em;
  transition: all 0.2s ease-in-out;
  background-color: #404040;
  border-radius: 50%;
  cursor: pointer;
}
.muteCheck:hover{
  opacity: 0.7;
}
.soundSVG path{
  stroke: white;
}
.muteCheck .checkboxMain {
  opacity: 0;
  width: 0;
  height: 0;
}
.line {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  width: 0.1em;
  min-height: 1.25em;
  border-radius: 20px;
  transform: rotate(45deg);
  background: white;
  transition: all .2s ease-in-out;
}
.muteCheck input[type=checkbox] {
  display: none;
}


.videoLoad{
  position: absolute;
  width: 99.5%;
  height: 99.5%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: A2;
  background-color: #252525;
  color: white;
  font-size: 2em;
  border-radius: 15px;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  text-align: center;
  padding: 1em;
}
.GitOGImg{
  pointer-events: none;
}

.imageData:hover img{
  opacity: 0;
}
.imageData:hover video, .imageData:hover .videoLoad{
  border-radius: 4px;
}

.textData{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    position: relative;
}
.data, .dataUD{
    font-family: A1;
    font-size: 3em;
    text-align: right;
    padding: 0.5em;
    position: relative;
    background-color: var(--card-bg);
    color: var(--card-text);
    transform: rotateZ(-2deg);
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
    box-shadow: var(--card-shadow);
}
.data span, .dataUD span{
  position: relative;
    z-index: 2;
}
.textureDiv{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: var(--texture-opacity);
    border-radius: 15px;
    height: 100%;
    background-image: url(textures/cream-paper.png);
    z-index: 1;
    transition: all 0.2s ease-in-out;
}
.dataUD{
    text-align: left;
}
.data::after, .dataUD::after{
    content: "";
    position: absolute;
    background-image: var(--arrow);
    transition: all 0.2s ease-in-out;
    width: 1.5em;
    height: 1.5em;
    background-size: 1.5em 1.5em;
    transform: rotateY(180deg) rotateZ(-90deg);
    bottom: 0;
    left: 0;
    margin-left: -1em;
    z-index: 2;
}
.dataUD::after{
    bottom: 0;
    left: auto;
    right: 0;
    margin-right: -1em;
    transform: rotateY(0deg) rotateZ(280deg);
}
.data::before, .dataUD::before{
    content: "";
    position: absolute;
    background-image: url(textures/tape.png);
    width: 2.5em;
    height: 2.5em;
    background-size: 2.5em 2.5em;
    right: 0;
    top: 0;
    transform: rotateZ(90deg);
    margin: -0.75em -0.75em 0 0;
    z-index: 2;
}
.dataUD::before{
    right: auto;
    top: 0;
    left: 0;
    transform: rotateZ(0deg);
}

.siteLinks{
    transition: all 0.2s ease-in-out;
    color: crimson;
}
.siteLinks:hover{
    cursor: pointer;
    color: rgb(220, 20, 60, 0.75);
}

.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 8;
    display: none;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

/* #sharpnerImage::after{
    content: "";
    position: absolute;
    background-image: url(textures/sharpner.png);
    width: 20em;
    height: 12em;
    background-size: 20em 12em;
    margin-top: -5em;
    margin-left: 4em;
    top: 0;
    left: 0;
} */

.stationary{
    position: absolute;
    width: 100%;
    height: 100%;
}
.pencils, .sharpner{
    position: absolute;
    right: 0;
    transform: rotateZ(-90deg);
    margin-top: 6em;
    margin-right: -12em;
    width: 40em;
}
.sharpner{
    width: 30em;
    right: auto;
    left: 0;
    margin-top: 125em;
    z-index: 5;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.5));
}
.pencilpng{
    position: relative;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    z-index: 5;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
}
.pencils img, .sharpner img, .pencil img{
    width: 100%;
}
.pencilpng img{
    width: 40%;
    transform: rotateY(180deg);
    margin-left: -1.75em;
}

footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
    font-size: 4em;
    margin-top: 2em;
    font-family: A1;
    color: var(--card-text);
    transition: all 0.2s ease-in-out;
    z-index: 1;
}

@media screen and (max-width: 1625px) {
    .data, .dataUD{
      font-size: 2.5em;
    }
    .data::after, .dataUD::after{
        margin-bottom: -1em;
        margin-left: -1em;
    }
    .dataUD::after{
        margin-left: 0;
        margin-right: -1em;
    }
}
@media (min-width: 1380px) and (max-width: 1490px) {
  .data::after, .dataUD::after{
      margin-bottom: 0.5em;
      margin-left: -1em;
  }
  .dataUD::after{
      margin-left: 0;
      margin-right: -1em;
  }
}
@media screen and (max-width: 1380px) {
    .data, .dataUD{
        font-size: 3em;
    }
    .mainWrapper{
        padding: 2em;
    }
    .wrapper{
        grid-template-columns: repeat(1, 1fr);
        gap: 2.5em;
        grid-auto-flow: dense;
    }
    .data::after{
        margin: 0;
        right: 0;
        left: auto;
        top: 0;
        margin-right: -2.5em;
        transform: rotateY(180deg) rotateZ(-40deg) translateX(1.75em);
    }
    .dataUD::after{
        margin: 0;
        left: 0;
        bottom: 0;
        transform: rotateY(0deg) rotateZ(320deg);
        margin-left: -1em;
        margin-bottom: -0.85em;
    }
}
@media screen and (max-width: 900px) {
    .data, .dataUD, footer{
        font-size: 2.5em;
    }
    .pencil{
        width: 15em;
        margin-left: -5.5em;
    }
    .imageData img, .data, .dataUD, .imageData::after, .imageData video, .videoLoad, .imageData, .textureDiv{
        border-radius: 10px;
    }
}
@media screen and (max-width: 768px) {
    .imageData::before, .pin1::before{
        width: 2em;
        height: 2em;
        background-size: 2em 2em;
    }
    .pencilpng img{
        width: 40%;
        margin-left: 0;
    }
    .pencilpng{
      filter: drop-shadow(7px 7px 7px rgba(0, 0, 0, 0.35));
    }
}
@media screen and (max-width: 690px) {
  .loader{
    font-size: 3em;
    text-shadow: var(--text-shadow-light1), var(--text-shadow-dark1);
  }
  .text:nth-child(1) {
    animation: move1 1.8s ease-in-out infinite;
  }
  .text:nth-child(2) {
    animation: move1 1.8s ease-in-out infinite;
    animation-delay: 0.2s;
  }
  .text:nth-child(3) {
    animation: move1 1.8s ease-in-out infinite;
    animation-delay: 0.4s;
  }
  .text:nth-child(4) {
    animation: move1 1.8s ease-in-out infinite;
    animation-delay: 0.6s;
  }
  .text:nth-child(5) {
    animation: move1 1.8s ease-in-out infinite;
    animation-delay: 0.8s;
  }
  .text:nth-child(6) {
    animation: move1 1.8s ease-in-out infinite;
    animation-delay: 1s;
  }
  .text:nth-child(7) {
    animation: move1 1.8s ease-in-out infinite;
    animation-delay: 1.2s;
  }
  .muteCheck{
    width: 1em;
    padding: 0.2em;
    height: 1em;
  }
  .soundSVG{
    width: 18px;
    height: 18px;
  }
  .line{
    width: 0.085em;
    min-height: 0.65em;
  }
}
@media screen and (max-width: 425px) {
    .loader{
      font-size: 2em;
    }
    .videoLoad{
      font-size: 1em;
    }
    .mainWrapper{
        padding: 1em;
    }
    .data, .dataUD, footer{
        font-size: 1.5em;
    }
    .wrapper{
        gap: 0.5em;
    }
    .pencil{
        width: 10em;
        margin-left: -4em;
    }
    .data, .dataUD, footer{
        font-size: 1.5em;
    }
    .imageData img, .data, .dataUD, .imageData::after, .imageData video, .videoLoad, .imageData, .textureDiv{
        border-radius: 5px;
    }
    .welcomeText{
        padding: 1em;
    }
    .welcomeText h1{
        font-size: 2.5em;
    }
    .muteCheck{
      right: 4%;
      padding: 0.15em 0.2em 0.15em 0.15em;
    }
    .pencilpng{
      filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.35));
    }
}



/* SMALL-DEVICE */

.small_device{
  width: 100%;
  height: 100dvh;
  display: none;
  padding: 5px;
}
.small_device_card{
  font-family: A1;
  width: 100%;
  padding: 0.5em;
  position: relative;
  background-color: var(--card-bg);
  color: var(--card-text);
  transform: rotateZ(-2deg);
  border-radius: 5px;
  box-shadow: var(--card-shadow);
}
.small_device_card::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: var(--texture-opacity);
    border-radius: 5px;
    background-image: url("textures/cream-paper.png");
    width: 100%;
    height: 100%;
    z-index: 1;
}
.small_device_text{
  position: relative;
  font-size: 1.5em;
  z-index: 2;
  text-shadow: 1px 1px 1px rgb(0, 0, 0, 0.5);
}

@media only screen and (max-width: 279px) {
  .main, .welcome, .mainWrapper, footer, .pencilpng, .theme-switch-second{
      display: none;
  }
  .theme-switch-second{
    opacity: 0;
  }
  body{
    margin: 0;
    padding: 0;
  }
  .small_device{
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      flex-direction: column;
  }
}
@media only screen and (max-width: 80px) {
  .small_device_card{
      font-size: 0.75em;
  }
}



/* THEME */

.theme-switch-second {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    border-radius: 50%;
    width: 5em;
    height: 5em;
    background-color: transparent;
    border: none;
    transition: .4s;
  }
  
  .theme-switch-second .slider-second {
    position: absolute;
    width: 35px;
    height: 35px;
    transition: .4s ease-in-out;
    overflow: visible;
    fill: var(--text-color);
  }

  @media screen and (max-width: 425px) {
    .theme-switch-second {
      width: 3em;
      height: 3em;
    }
    .theme-switch-second .slider-second {
      width: 20px;
      height: 20px;
    }
  }
  
  .theme-switch-second:hover{
    cursor: pointer;
  }
  
  #b1, #b2, #bulbL{
    fill: var(--text-color1);
  }
  .theme-switch-second input[type=checkbox]:checked + .slider-second #bulbL {
    fill: rgb(255, 255, 0);
    filter: url(#yellow-glow);
  }
  
  .theme-switch-second input[type=checkbox] {
    visibility: hidden;
  }
  
  .theme-switch-second .slider-second {
    transition: 300ms ease;
  }


:root {
    --bg-color-light: #f1f1f1;
    --bg-gradient: #e1e1e1;
    --text-color: black;
    --text-color1: #353535;
    --card-bg: #ffffff;
    --card-text: #171717;
    --card-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    --arrow: url(textures/up-right-arrow.png);
    --welcome-brightness: brightness(1);
    --img-brightness: brightness(1);
    --selection-color: #c5c5c5;
    --scrollbar-thumb-bg: #252525;
    --texture-opacity: 1;
    --img-load-bg: #eeeeee;
    --img-load-gradient1: #d6d6d6; 
    --img-load-gradient2: #f5f5f5;
    --main-load-bg: #e2e2e2;
    --main-load-text-color: #e2e2e2;
    --main-load-text-shadow-light: -8px -8px 12px rgb(255, 255, 255);
    --main-load-text-shadow-dark: 8px 8px 12px rgba(0, 0, 0, 0.178);
    --main-load-text-shadow-light1: -4px -4px 6px rgb(255, 255, 255);
    --main-load-text-shadow-dark1: 4px 4px 6px rgba(0, 0, 0, 0.178);
}
[data-theme="dark"] {
    --bg-color-light: #181818;
    --bg-gradient: #242424;
    --text-color: #c7c7c7;
    --text-color1: #b4b4b4;
    --card-bg: #000000;
    --card-text: #c5c5c5;
    --card-shadow: rgba(2, 6, 14, 0.25) 0px 2px 2px, rgba(2, 7, 15, 0.13) 0px 0px 2px 2px;
    --arrow: url(textures/up-right-arrow-d.png);
    --welcome-brightness: brightness(0.25);
    --img-brightness: brightness(0.85);
    --selection-color: #3a3a3a;
    --scrollbar-thumb-bg: #c5c5c5;
    --texture-opacity: 0.45;
    --img-load-bg: #111111;
    --img-load-gradient1: #292929; 
    --img-load-gradient2: #0a0a0a;
    --main-load-bg: #212121;
    --main-load-text-color: #212121;
    --main-load-text-shadow-light: -6px -6px 10px rgb(0, 0, 0);
    --main-load-text-shadow-dark: 6px 6px 10px rgba(255, 255, 255, 0.178);
    --main-load-text-shadow-light1: -3px -3px 5px rgb(0, 0, 0);
    --main-load-text-shadow-dark1: 3px 3px 5px rgba(255, 255, 255, 0.178);
}